/* This sets the backround of the entire page to the given color */
html { 
  background: black;
}

header, body, footer{
	color: white;
}

header{
	text-align: center;
}

body::-webkit-Scrollbar{
	display:none;
}

/* .title{
	position: absolute;
    top: 10%;
    left: 0%;
    /* margin-top: -50px;
    margin-left: -50px; 
    width: 100%;
    height: 100%;
} */

/* body {
  overflow: hidden; /* Hide scrollbars 
} 
*/

.form{
	position:relative;
	z-index: 99 !important;
	bottom: 25px;
	left:425px;
}

h1{
	font-size: 50px;
	font-family: 'Rosegarden', sans-serif;                                           
}

p{
	font-size: 18px;
}

/* Add a black background color to the top navigation */
.topnav {
	background-color: black;
	overflow: hidden;
	/* float: center; */
}

/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
	background-color: #ddd;
	color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
	background-color: #D3D3D3; /* #04AA6D; */
	color: black;
	font-weight: bold;
}